span{
    color:aqua;
}

#container{
    width: 100%;
    background-color: white;
    display: block;
}

#first100{
    height: 100%;
    background-image: url('f100_main_photo.jpg');
    background-size: 100% 100%;
}

#f100_header{
    height: 9.5%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". .";
    background-color: rgba(255, 255, 255, 0.089);
}

#f100_header_logo{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 100%;
    width: 50%;
    background-image: url('logo.png');
    background-size: 100% 100%;
    opacity: 70%;
}

#f100_header_buttons{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". . . . . . .";
}

#f100_header_buttons div:hover{
    background-color:rgba(255, 255, 255, 0.582);
    color:black;
}

#f100_header_buttons div{
    height: 100%;
    width: 100%;
    font: small-caps bold 15px/1 sans-serif;
    display: flex;
    justify-content: space-around;
    align-items:center;
    opacity: 70%;
    color:white;
    overflow-x:hidden;
}

#f100_center{
    display: grid;
    grid-template-columns: 0.7fr 1.9fr 0.7fr;
    grid-template-rows: 0.7fr 0.6fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    grid-template-areas:
      ". . ."
      ". text photo"
      ". butt .";
    height: 90%;

}

#f100_center_text{
    grid-area: text;
    align-self: end;
    height: 80%;
    width: 80%;
    border:3px solid rgb(255, 255, 255);
    text-align: center;
}

#f100_center_text h1{
    font: small-caps bold 60px/1 sans-serif;
    color:yellow;
    margin-bottom: 0;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#f100_center_text h3{
    font: small-caps bold 55px/1 sans-serif;
    color:yellow;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    margin-top: 0;
}

#f100_center_next{
    grid-area: photo;
    align-self: end;
    justify-self: right;
    height: 40%;
    width: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". .";
    text-align: center;
}

#f100_center_next_photo{
    width: 100%;
    height: 100%;
    background-image: url('f100_next_photo.jpg');
    background-size: 100% 100%;
}

#f100_center_next_button{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.199);
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: white;
}

#f100_center_next_button:hover{
    background-color:rgba(255, 255, 255, 0.582);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    color:black;
}

#f100_center_next_button p{
    font: small-caps bold 50px/1 sans-serif;
}

#f100_buttons{
    margin-top: 15px;
    grid-area: butt;
    align-self: start;
    height: 30%;
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: start;
    grid-template-areas:
      ". .";
    text-align: center;
}

#f100_buttons div:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#f100_buttons_1{
    height: 75%;
    width: 90%;
    background-color:rgb(0, 194, 145);
    color: white;
}

#f100_buttons p{
    font: small-caps bold 30px/1 sans-serif;
}

#f100_buttons_2{
    height: 75%;
    width: 90%;
    background-color: white;
}

#first20{
    height: 20%;
}

#f20_header{
    height: 19%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        ". .";
    border: 1.5px;
    border-bottom: solid rgba(0, 0, 0, 0.5);
}

#f20_header_text{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

#f20_header_text h1{
    font: small-caps bold 20px/1 sans-serif;
}

#f20_header_search{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

#f20_header_search_text{
    height: 50%;
    width: 40%;
}

#f20_header_search_button{
    height: 50%;
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#f20_header_search_button p:hover{
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font: small-caps bold 25px/1 sans-serif;
}

#f20_header_search_button p{
    font: small-caps bold 19px/1 sans-serif;
}

#f20_main{
    height: 80%;
    border: 1.5px;
    border-bottom: solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#f20_main_left_button{
    height: 100%;
    width: 4.5%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#f20_main_left_button p{
    font: small-caps bold 50px/1 sans-serif;
}

#f20_main_left_button p:hover{
    font: small-caps bold 100px/1 sans-serif;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#f20_main_right_button{
    height: 100%;
    width: 4.5%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#f20_main_right_button p{
    font: small-caps bold 50px/1 sans-serif;
}

#f20_main_right_button p:hover{
    font: small-caps bold 100px/1 sans-serif;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#f20_main_blocks{
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 20% 20% 20% 020% 20%;
    grid-template-rows: 80% 20%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "b1 b2 b3 b4 b5"
      "t1 t2 t3 t4 t5";
    font: small-caps bold 10px/1 sans-serif;
}

#f20_main_blocks div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#f20_main_b1{
    grid-area: b1;
}

#f20_main_b2{
    display: flex;
    justify-content: space-around;
    align-items:center;
    grid-area: b2;
    background-image:url(f20_b2.png);
    background-size: 85% 95%;
    background-repeat:no-repeat;
    background-position:center;
}

#f20_main_b2 p{
    font: 50px;
}

#f20_main_b3{
    grid-area: b3;
}

#f20_main_b4{
    grid-area: b4;
}

#f20_main_b5{
    grid-area: b5;
}

#first60{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#f60_header{
    height: 6%;
    width: 70%;
    border: 1.5px;
    border-bottom: solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    margin-bottom: 0.5%;
}

#f60_header h1{
    font: small-caps bold 20px/1 sans-serif;
}

#f60_main{
    height: 94%;
    width: 70%;
    display: block;
}

#f60_main_left{
    height: 100%;
    width: 19%;
    float: left;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32% 32% 32%;
    grid-auto-columns: 1fr;
    gap: 2% 0px;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "."
      "."
      ".";
      
}

#f60_main_left div{
    height: 100%;
    width: 100%;
}

#f60_main_left_b1{
    background-image: url('f60_m_l_b1.png');
    background-size: 95% 100%;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
}

#f60_main_left_b1 p{
    color: white;
    font: small-caps bold 14px/1 sans-serif;
}

#f60_main_left_b2{
    background-image: url('f60_m_l_b2.png');
    background-size: 95% 100%;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
}

#f60_main_left_b2 p{
    color: white;
    font: small-caps bold 14px/1 sans-serif;
}

#f60_main_left_b3{
    background-image: url('f60_m_l_b3.png');
    background-size: 95% 100%;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
}

#f60_main_left_b3 p{
    color: white;
    font: small-caps bold 14px/1 sans-serif;
}

#f60_main_right{
    height: 100%;
    width: 80%;
    float: right;
}

#f60_main_right_top{
    width: 100%;
    height: 68%;
    background-image: url('f60_m_r.png');
    background-size: 100% 100%;
    display: flex;
    justify-content:flex-start;
    align-items:flex-end;
}

#f60_main_right_top p{
    font: small-caps bold 25px/1 sans-serif;
    color:white;
    margin-left: 2%;
}

#f60_main_right_bottom{
    width: 100%;
    height: 31%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 40% 60%;
    grid-auto-columns: 1fr;
    gap: 0% 1%;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "b1 b2 b3"
      "t1 t2 t3";

}

#f60_main_right_bottom div{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#f60_main_right_bottom_b1{
    padding-left: 1%;
    grid-area: b1;
    font: small-caps bold 14px/1 sans-serif;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    border-bottom: none;
}

#f60_main_right_bottom_b2{
    padding-left: 1%;
    grid-area: b2;
    color:rgb(17, 180, 164);
    font: small-caps bold 14px/1 sans-serif;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    border-bottom: none;
}

#f60_main_right_bottom_b3{
    padding-left: 1%;
    grid-area: b3;
    font: small-caps bold 14px/1 sans-serif;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    border-bottom: none;
}

#f60_main_right_bottom_b1_t{
    padding-left: 1%;
    grid-area: t1;
    font: small-caps bold 12px/1 sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

#f60_main_right_bottom_b2_t{
    padding-left: 1%;
    grid-area: t2;
    font: small-caps bold 12px/1 sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

#f60_main_right_bottom_b3_t{
    padding-left: 1%;
    grid-area: t3;
    font: small-caps bold 12px/1 sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

#first40{
    margin-top: 2%;
    width: 80%;
    height: 40%;
    border: 1.5px;
    float: left;
    border-top: solid rgba(0, 0, 0, 0.5);
}

#f40_header{
    height: 9%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0% 0%;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". .";
    border: 1.5px;
    border-bottom: solid rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
}

#f40_header div{
    height: 100%;
    width: 100%;
}

#f40_header_text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#f40_header_text h1{
    font: small-caps bold 20px/1 sans-serif;
}

#f40_header_text h1 span{
    color:aqua;
}

#f40_header_dots{
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

#f40_header_dots p{
    font: small-caps bold 20px/1 sans-serif;
}

#f40_header_dots p span{
    color:aqua;
}

#f40_main{
    height: 90%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 40% 60%;
    grid-auto-columns: 1fr;
    gap: 1% 1%;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "b1 b2 b3"
      ". . .";
      
}

#f40_main div{
    width: 100%;
    height: 99%;
    font: small-caps bold 14px/1 sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
}

#f40_main_b1{
    grid-area: b1;
    background-image: url('f40_main_b1.jpg');
    background-size:100% 100%;
}

#f40_main_b2{
    grid-area: b2;
    background-image: url('f40_main_b2.jpg');
    background-size:100% 100%;
}

#f40_main_b3{
    grid-area: b3;
    background-image: url('f40_main_b3.jpg');
    background-size:100% 100%;
}

#sec20{
    margin-top: 2%;
    height: 20%;
    width: 80%;
    float: left;
}

#s20_header{
    height: 20%;
    border:1px solid red;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0% 0%;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". .";

    border: 1.5px;
    border-bottom: solid rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
}

#s20_header div{
    width: 100%;
    height: 99%;
}

#s20_header_text{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

#s20_header_text h1{
    font: small-caps bold 20px/1 sans-serif;
}

#s20_header_buttons{
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

#s20_header_buttons_b2 p{
    color: aqua;
}

#s20_header_buttons div{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 25%;
}

#s20_header_buttons div:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#s20_header_buttons div p{
    font: small-caps bold 15px/1 sans-serif;
}

#s20_main{
    height: 79%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0% 0%;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". .";
}

#s20_main div{
    width: 100%;
    height: 99%;
}

#s20_main_left{
    background-image:url('f20_b4.png');
    background-size: 100% 130%;
}

#s20_main_right{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0% 0%;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". .";
    
    margin-left: 2%;
}

#s20_main_right div{
    width: 100%;
    height: 99%;
}

#s20_main_right_pic{
    background-image: url('f60_m_l_b1.png');
    background-size: 100% 100%;
}

#s20_main_right_t{
    padding-left: 2%;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    border: 1.5px;
}

#s20_main_right_t p{
    font: small-caps bold 14px/1 sans-serif;
}

#edge20{
    margin-top: 2%;
    height: 64%;
    width: 19.5%;
    float: right;
    border: 1.5px;
    border-left:solid rgba(0, 0, 0, 0.5);
}

#e20_header{
    height: 29%;
    border:1.5px;
    border-top:solid rgba(0, 0, 0, 0.5);
}

#e20_header_text{
    height: 20%;
}

#e20_header_text h1{
    font: small-caps bold 20px/1 sans-serif;
}

#e20_header_socnet{
    height: 58%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

#e20_header_socnet div{
    height: 35%;
    width: 14%;
}

#e20_header_socnet div:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#e20_header_socnet1{
    background-image:url('facebook.png');
    background-size: 100% 100%;
}

#e20_header_socnet2{
    background-image:url('yt.png');
    background-size: 100% 100%;
}

#e20_header_socnet3{
    background-image:url('gplus.png');
    background-size: 100% 100%;
}

#e20_header_socnet4{
    background-image:url('twitter.png');
    background-size: 100% 100%;
}

#e20_header_socnet5{
    background-image:url('inst.png');
    background-size: 100% 100%;
}

#e20_header_socnet6{
    background-image:url('linked.png');
    background-size: 100% 100%;
}

#e20_header_buttons{
    height: 20%;
    border:1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    border: 1.5px;
    border-bottom:solid rgba(0, 0, 0, 0.5);
}

#e20_header_button3 p{
    color:aqua;
}

#e20_header_buttons div{
    height: 95%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#e20_header_buttons div:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#e20_header_buttons div p{
    font: small-caps bold 15px/1 sans-serif;
}

#e20_main{
    margin-top: 2%;
    height: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 23.5% 23.5% 23.5% 23.5%;
    grid-auto-columns: 1fr;
    gap: 2% 0%;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". ."
      ". ."
      ". ."
      ". .";  
      
}

#e20_main div{
    height: 100%;
    width: 100%;
    border: 1.5px;
    border-bottom: solid rgba(0, 0, 0, 0.5);
    font: small-caps bold 14px/1 sans-serif;
    overflow-y: hidden;
}

#e20_main_b1{
    background-image: url('blender.png');
    background-size: 97% 80%;
    background-position: center;
    background-repeat:no-repeat;
}

#e20_main_b2{
    background-image: url('maya.png');
    background-size: 97% 97%;
    background-position: center;
    background-repeat:no-repeat;
}

#e20_main_b3{
    background-image: url('3dmax.png');
    background-size: 97% 97%;
    background-position: center;
    background-repeat:no-repeat;
}

#e20_main_b4{
    background-image: url('p3d.png');
    background-size: 97% 97%;
    background-position: center;
    background-repeat:no-repeat;
}