.container
{
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 2fr 0.3fr 2fr 0.3fr 2fr 0.3fr 2fr;
    grid-template-rows: 1.5fr 6fr 1fr 1.5fr;

}

.container top
{
    padding: 10px;
    background-color:#7FFFD4;
    grid-area: 1/1/2/8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container two
{
    background-color: #6EB5C0;
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.container two #Content2
{
    padding: 10px;
    text-align: right;
}

.container two #Button2
{
    align-items:center;
}

.container three
{
    background-color: #6EB5C0;
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.container three #Content3
{
    padding: 10px;
    text-align: right;
}

.container three #Form3ID
{
    align-items: center;
}

.container four
{
    background-color:#6EB5C0;
    grid-area: 2/5/4/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container four #Content4
{
    padding: 10px;
    text-align: right;
}

.container four #ShowBlock
{
    align-items: center;
    background-color: #6EB5C0;
    border: 0px;
    text-align: center;
}

.container five
{
    padding: 10px;
    background-color: #6EB5C0;
    grid-area: 2/7/4/8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container six
{
    font-weight: normal;
    padding: 10px;
    text-align: left;
    background-color: #66CDAA;
    grid-area: 3/1/4/4;
    display: flex;
    align-items: center;
}

.container down
{
    background-color:#7FFFD4;
    grid-area: 4/1/5/8;
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container blank1
{
    grid-area: 4/2/5/3;   
}

.container blank2
{
    grid-area: 4/4/5/5;   
}

.container blank3
{
    grid-area: 4/6/5/7;   
}

.container #ShowBlock
{
    width: 100%;
    background-color: white;
}

x
{
    margin-right: 1rem;
    text-align:right;
    float:right;
    width: 35%;
    height: 50px;
    background-color: green;
    overflow: scroll;
}

y
{
    margin-left: 1rem;
    text-align:right;
    float:left;
    width: 35%;
    background-color: green;
}
#selectBlock {
    width: 50%;
    height: 5em;
    border: none;
    margin-top: 1em;
  }
  #selectLog {
    font-size: 0.5em;
  }
  .editArea
  {
    margin-top: 0.5em;
    width: 100%;
    height: 8em;
    resize: none;
  }
  .editBtn
  {
    width: 25%;
  }
