#firsth2{
    background-color: yellow;
}
#firstp{
    background-color:white;
    color:red;
}
#firstdiv{
    background-color: yellow;
    margin-bottom: 10px;
}
#img{
    height: 100px;
    width: 100px;
}